@use '../../scss/variables' as var;

.profile-navItem-wrapper {
  width: 100%;
  height: 3.125rem;
  border-top: 2px solid var.$clr-toasted-almond;
  justify-content: center;
  align-items: center;

  .avatar {
    max-width: 40px;
  }
}
