.feedCard {
  background-color: #fff;
  padding: 0.5rem;
  width: 90%;
  max-width: 50rem;

  .header {
    padding: 0.5rem;

    .feedCard_avatar {
      max-width: 50px;
    }
  }

  .text {
    padding: 0.5rem;
  }

  .feedCard_image {
    aspect-ratio: 1/0.75;
  }

  .footer {
    padding: 0.5rem;
  }
}
