@use '../../scss/variables' as var;

.hero {
  min-height: 100vh;
  .hero__image_wrapper {
    background-color: black;
    .hero__image {
      object-fit: cover;
      margin-inline: auto;
    }
  }
}

.hero__container {
  .hero__heading {
    text-align: center;
    margin-block: 2rem;
  }
}

.content__left {
  flex-basis: 50%;

  .left__text {
    max-width: 80%;
  }
}
.content__right {
  flex-basis: 50%;

  img {
    aspect-ratio: 1/1.5;
    margin-inline: auto;
  }
}
