@use '../../scss/variables' as var;

.mainButton {
  background-color: var.$clr-gold-blend;
  margin-inline: auto;
  height: 3.125rem;
  width: 80%;
  color: var.$clr-flat-white;
}

@media (hover: hover) {
  .mainButton:hover {
    background-color: var.$clr-toasted-almond;
  }
}
