@use '../../scss/variables' as var;

.mainButton {
  background-color: var.$clr-medium-roast;
  margin-inline: auto;
  padding: 1rem 5rem;
  color: var.$clr-flat-white;
}

@media (hover: hover) {
  .mainButton:hover {
    background-color: var.$clr-gold-blend;
  }
}
