@use '../../scss/variables' as var;

.card {
  display: flex;
  width: 100%;
  max-width: 17.5rem;
  height: 22rem;
  overflow: auto;

  background-color: var.$clr-flat-white;

  .image {
    position: relative;
    flex: 1;
    background: center / cover no-repeat;

    h4 {
      position: absolute;
      bottom: 1rem;
      left: 1.5rem;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    flex: 0 1 60%;
    margin: 1rem;
  }
}
