@font-face {
  font-family: 'vivaldi';
  src: url('../../assets/fonts/vivaldi/vivaldi.ttf');
}
@font-face {
  font-family: 'vivaldii';
  src: url('../../assets/fonts/vivaldi/VIVALDII.TTF');
}

.header {
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #e4bc84;
    min-height: 4.6875rem;

    .logo {
      font-family: vivaldii, vivaldi;
    }
  }

  .shoppingbag {
    position: absolute;
    right: 1.5rem;
  }
}
