@use '../../scss/variables' as var;

.googleButton {
  background-color: hsl(0, 100%, 50%);
  margin-inline: auto;
  height: 3.125rem;
  width: 80%;
  color: var.$clr-flat-white;
}

@media (hover: hover) {
  .googleButton:hover {
    background-color: hsl(0, 100%, 50%);
  }
}
