@use '../../scss/variables' as var;

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  background-color: var.$clr-medium-roast;
}
