/* ----------------- */
/* Custom properties */
/* ----------------- */

/* colors */
$clr-dark-roast: hsl(25, 61%, 7%);
$clr-medium-roast: hsl(21, 62%, 31%);
$clr-capuccino: hsl(27, 20%, 47%);
$clr-gold-blend: hsl(30, 57%, 43%);
$clr-toasted-almond: hsl(35, 64%, 71%);
$clr-flat-white: hsl(0, 0%, 100%);

/* font-sizes */
$fs-500: 1.25rem;
$fs-400: 1rem;
$fs-300: 0.75rem;
$fs-200: 0.5rem;

$fw-thin: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;

/* font-families */
$ff-main: 'Poppins', sans-serif;

$gap: 1rem;
